/*******************************************************************************
                  MODAL PLUGIN
********************************************************************************/
.modal-video .modal-header {
  border: none;
  padding: 10px 0;
}

.modal-video .modal-content {
  border: none;
  box-shadow: none;
  background: transparent;
}

.modal-video .modal-body {
  padding: 0;
}

.modal-video .close {
  opacity: 1;
  color: white;
  outline: none;
}
