@font-face {
  font-family: 'Flaticon';
  src: url('fonts/flaticon.eot');
  src: url('fonts/flaticon.eot?#iefix') format('embedded-opentype'), url('fonts/flaticon.ttf') format('truetype'), url('fonts/flaticon.svg#BebasNeueRegular') format('svg');
}
