.property-lisitings-block {
  padding: 50px 0 80px;
}

.property-item {
  border: 1px solid #ddd;
  background-color: rgba(255, 255, 255, 0.9);
  margin-bottom: 30px;
  border-radius: 2px;
}

.property-item .property-title {
  text-align: center;
  padding: 10px 15px;
}

.property-item .property-title.Featured {
  background-color: #74ced9;
  color: white;
  position: relative;
}

.property-item .property-title.Featured .title,
.property-item .property-title.Featured .address {
  color: white;
  opacity: 1;
}

.property-item .property-title.Featured:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 40px 40px 0 0;
  border-color: #47bfcc transparent transparent transparent;
}

.property-item .property-title.Featured:after {
  content: '\f005';
  position: absolute;
  font-family: 'FontAwesome';
  color: white;
  top: 0;
  left: 4px;
}

.property-item .property-title .title {
  font-size: 1.3em;
  text-transform: uppercase;
  font-family: 'Lato', Arial, Helvetica, sans-serif;
}

.property-item .property-title .address {
  font-size: 1.1em;
  opacity: 0.6;
}

.property-item img {
  width: 100%;
}

.property-item .property-thumbnail {
  position: relative;
}

.property-thumbnail .property-status {
  position: absolute;
  right: 0;
  bottom: 0;
  background: #43becc;
  color: #fff;
  font-size: 0.8em;
  padding: 5px 10px;
  text-transform: uppercase;
}

.property-content .property-meta {
  padding: 15px;
  color: #666;
  font-size: 0.9em;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

.property-content .property-meta li {
  display: inline-block;
  width: 49%;
}

.property-content .property-meta li .fa {
  width: 20px;
}

.property-content .property-price {
  padding: 15px;
  color: #666;
  border-top: 1px dotted #ddd;
  text-align: right;
}

.property-price .utilities-tag {
  float: left;
  width: 50%;
  text-align: left;
}

.property-price .price-tag {
  color: #666;
  font-size: 1.2em;
  font-family: 'Fira Sans', sans-serif;
}

.property-price .utilities-tag {
  position: relative;
}

.property-price .utilities-tag li {
  display: inline-block;
  margin-right: 10px;
  cursor: pointer;
}

.property-price .utilities-tag li i {
  color: #787878;
  font-size: 17px;
  opacity: 0.5;
}

.property-price .utilities-tag > li:hover {
  opacity: 0.75;
}

.property-price .utilities-tag .fa-heart {
  color: red;
}

.property-thumbnail {
  position: relative;
  overflow: hidden;
}

.property-thumbnail figcaption {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  transition: all 0.3s;
}

.property-thumbnail .property-excerpt {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 15px;
  opacity: 0;
  line-height: 1.5;
  text-align: left;
  background-color: rgba(255, 255, 255, 0.9);
  border-top: 3px solid #43becc;
  transition: all 0.3s;
}

.property-item:hover .property-excerpt {
  opacity: 1;
}

.property-thumbnail .property-excerpt p {
  color: #999;
}

.property-excerpt .subtitle {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #999;
}

.property-excerpt .subtitle span {
  text-decoration: none;
  font-size: 1.2em;
  color: #666;
  text-transform: uppercase;
}

.property-excerpt .subtitle a {
  color: #666;
  text-decoration: none;
}

.property-excerpt .subtitle .link-icon {
  position: relative;
  width: 15px;
  height: 15px;
  display: inline-block;
  margin: 0 5px;
  cursor: pointer;
}

.property-excerpt .subtitle .fa-star {
  font-size: 14px;
  color: #0097a7;
  position: absolute;
  cursor: pointer;
}

.share-unit {
  display: none;
  position: absolute;
  left: -10px; bottom: 130%;
  z-index: 1000;
}

.share-unit:after {
  content: '';
  position: absolute;
  top: 100%;
  left: 12px;
  border-top: 8px solid #c91a22;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
}

.utilities-tag .share-unit > li {
  display: block;
}

.property-price .utilities-tag .share-unit i {
  color: white;
  opacity: 1;
}

.share-unit li a {
  display: block;
  font-weight: 300;
  opacity: 1;
  width: 40px;
  height: 44px;
  line-height: 44px;
  text-align: center;
}

.share-unit li a.social-facebook {
  background-color: #3b5998;
}

.share-unit li a.social-twitter {
  background-color: #4cc2ff;
}

.share-unit li a.social-google {
  background-color: #d23e2b;
}

.share-unit li a.social-pinterest {
  background-color: #c91a22;
}
