/*****************************************************************
                       OUR SERVICES
******************************************************************/
.sevices-block {
  padding: 50px 0;
  background-color: rgba(241, 241, 241, 0.3);
}

.sevices-block .title {
  color: #105a7f;
  text-align: center;
  text-transform: capitalize;
}

.sevices-block .description {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.sevices-block .service-item  {
  text-align: center;
  margin-top: 50px;
}

.sevices-block .service-item figure {
  width: 120px;
  margin: 0 auto;
}

.sevices-block .service-item h4 {
  font-size: 22px;
  font-weight: 500;
  text-transform: uppercase;
  color: #0ba;
}

.sevices-block .horizontal-line {
  max-width: 200px;
  border-top: 2px solid #f90;
}

@media (min-width: 991px) {

  .sevices-block .description {
    width: 50%;
  }

}
