/*******************************************************************************
                                CONTACT PAGE
********************************************************************************/
@import "../../base/colors";
@import "../../helpers/mixins";

.contact-page {
  padding-bottom: 50px;

  .title {
    margin-bottom: 40px;
    color: $boulder;
    font-size: px2rem(29px);
    text-align: center;
    text-transform: capitalize;
  }

  .sections-title {
    padding: 15px 0;
    color: $boulder;
    font-size: px2rem(24px);
    text-transform: capitalize;
    font-family: "Fira Sans", Arial, Helvetica, sans-serif;
  }

  p {
    font-family: "Fira Sans", Arial, Helvetica, sans-serif;
    text-align: justify;
  }

  .btn-info {
    padding: 7px 25px;
    text-transform: capitalize;
  }

  .map-block {
    @include size(100%, 500px);
    margin-bottom: 40px;
  }

}

.contact-us li {

  margin-bottom: 10px;
  font-family: "Fira Sans", Arial, Helvetica, sans-serif;

  a {
    color: #337ab7;
    font-size: px2rem(16px);
    text-decoration: none;
  }

}

.follow-us {

  li  {
    @include size(35px);
    margin-right: 10px;
    color: white;
    line-height: 35px;
    text-align: center;

    &.facebook {
      background-color: $chambray;
    }

    &.twitter {
      background-color: $dodger-blue;
    }

    &.googleplus {
      background-color: $carnation;
    }

    i {
      color: white;
    }

  }

}
