/*****************************************************************
                         FONT FACE
******************************************************************/
@import "../base/colors";
@import "../helpers/mixins";

html {
  font-size: 16px;
}

body {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  color: #666;
  font-size: 16px;
  background-color: white;
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #666;
  font-family: 'Lato', Helvetica, Arial, sans-serif;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.section-title {
  color: #999;
  text-transform: uppercase;
  font-size: 1.5em;
  font-weight: 400;
  margin-bottom: 1em;
  position: relative;
  z-index: 0;
  font-family: 'Open Sans', sans-serif;
}

.section-title span {
  padding-right: 0.5em;
  background-color: white;
}

.section-title:after {
  position: absolute;
  top: 50%;
  left: 0;
  content: '';
  height: 1px;
  z-index: -2;
  width: 100%;
  background-color: #e6e6e6;
}

/*******************************************************************************
                                FORM CONTROL
********************************************************************************/
.form-group {
  position: relative;

  .form-control {
    border: 1px solid $alto;
    border-radius: 2px;
    padding: 0 px2rem(13px);
    appearance: none;
    box-shadow: none;
    font-size: px2rem(13px);
    line-height: 40px;

    &:focus {
      border-color: $shakespeare;
      box-shadow: none;
    }

    &.input-md {
      height: 40px;
    }

  }

  &.error .form-control {
    border-color: #b94a48;
  }

}

textarea.form-control {
  resize: vertical;
}


.checkbox label {
  position: relative;
  padding-left: 25px;
}

.checkbox input[type="checkbox"] {
  display: none;
}

.checkbox label:before {
  content: '';
  position: absolute;
  width: 19px;
  height: 19px;
  left: 0;
  bottom: 1px;
  background-color: #fff;
  border: 1px solid #bdbdbd;
}

.checkbox input[type="checkbox"]:checked + label:before {
  content: '\f00c';
  font-family: 'FontAwesome', Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #3276B1;
  text-align: center;
  line-height: 16px;
  border: 1px solid #3276B1;
}

.panel {
  background-color: #fff;
  padding: 0;
  border-radius: 2px;
  margin-bottom: 20px;
  border: 1px solid #e3e3e3;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}

.panel-default {
  border-color: #ddd;
}

.alert {
  margin-bottom: 10px;
  margin-top: 0;
  color: #675100;
  border-width: 0;
  border-left-width: 5px;
  padding: 10px;
  border-radius: 0;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 13px;
  line-height: 1.42857143;
}

.alert-warning {
  border-color: #dfb56c;
  color: #826430;
  background-color: #efe1b3;
}

.alert-success {
  border-color: #8ac38b;
  color: #356635;
  background-color: #cde0c4;
}

.lock-position {
  height: 100%;
  overflow: hidden;
  width: 100%;
  position: fixed;
}

.btn {
  border-radius: 0;
}
